{% extends 'base.html.twig' %}

{% block title %}{{ 'site.header.login' | trans }}{% endblock %}

{% block body %}

    <div class="row justify-content-md-center py-3">
        <div class="col-md-6">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-fw fa-user"></i>
                        {{ 'site.header.login' | trans }}
                    </div>
                    <div class="card-body">
                        <div class="py-5 text-center">
                            {{ 'site.login.sent' | trans }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
