$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #888;
$gray-700: #444;
$gray-800: #303030;
$gray-900: #222;
$black: #000;

$blue: #375a7f;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #E74C3C;
$orange: #fd7e14;
$yellow: #F39C12;
$green: #00bc8c;
$teal: #20c997;
$cyan: #3498DB;

$primary: $blue;
$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-500;
$dark: $gray-800;

$body-bg: #020202;
$body-color: #fefefe;

$link-color: $success;

$table-border-color: $gray-800;

$input-bg: $gray-900;
$input-color: $gray-200;
$input-border-color: $gray-800;
$input-btn-border-width: 2px;
$input-focus-bg: $gray-800;

$card-cap-bg: $gray-700;
$card-bg: $gray-800;

$pagination-color: $gray-200;
$pagination-bg: $gray-900;
$pagination-border-color: $gray-800;
$pagination-disabled-bg: $black;
$pagination-disabled-border-color: $gray-900;
$pagination-hover-bg: $gray-700;
$pagination-hover-color: $gray-300;
$pagination-hover-border-color: $gray-700;



