{% extends "base.html.twig" %}

{% block content %}
    <div class="container py-3">
        <div class="text-center">
            <h4>Kies een categorie</h4>
            {% for category in categories %}
                <a href="{{ path('home_category', {'category': category.id}) }}" class="btn btn-primary">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
