{% extends 'admin.html.twig' %}

{% block title %}
    New Category
{% endblock %}

{% block content_title %}
    Create new Category
{% endblock %}

{% block body %}
    <div class="container py-3">

        {{ include('admin/youtube_category/_form.html.twig') }}

        <a href="{{ path('admin_youtube_category_index') }}">back to list</a>
    </div>
{% endblock %}
