{% extends 'admin.html.twig' %}

{% block title %}New YoutubeVideo{% endblock %}

{% block content_title %}
    Create new YoutubeVideo
{% endblock %}

{% block body %}
    <div class="container py-3">
        {{ include('admin/youtube_video/_form.html.twig') }}
        <a href="{{ path('admin_youtube_video_index') }}">back to list</a>
    </div>
{% endblock %}
